$dark000: #000;
$dark111: #111;
$dark222: #222;
$dark333: #333;
$dark555: #555;

$whitefff: #fff;
$whiteeee: #eee;

$main-accent-color: #F95C33;
$secondary-accent-color: #E57053;

$opacityDark: rgba(0, 0, 0, 1);