@import '../../styles/variables.scss';
@import '../../styles/shadows.scss';
@import '../../styles/breakpoints.scss';

.header {
    height: 82px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    padding: 2.5rem 2.5rem 0 2.5rem;

    @media only screen and (max-width: 360px) {
        height: auto;
        padding: 2rem 2rem 0 2rem;
    }

    .logo-container {
        pointer-events: all;
        height: 4.2rem;
        width: 4.2rem;
        transform: scale(3.4);
        transform-origin: 0 0;
        

        // animation: logoAnimation 3s forwards;
        @media only screen and (max-width: $lg) {
            transform: scale(1);
        }
        

        .logo-img {
            height: 100%;
            width: 100%;
            position: relative;
            left: -.4rem;
            top: -.6rem;

            @media only screen and (max-width: $lg) {
                left: 0rem;
                top: -.9rem;
            }

            // background-color: #fff;
        }

        // @keyframes logoAnimation {
        //     0% {
        //         transform: scale(5);
        //     }
        //     20% {
        //         transform: scale(10);
        //     }

        //     100% {
        //         transform: scale(3);
        //     }
        // }

    }

    .header-nav {

        display: none;
        pointer-events: all;
        .header-nav-link {
            color: $whitefff;
            text-decoration: none;
            padding: 0 10px;
            letter-spacing: .7px;
        }
    }


    //menu btn
    .navigation-button {
        pointer-events: all;
        position: relative;
        z-index: 10;
        text-align: center;
        cursor: pointer;
        background-color: transparent;
        padding: 1rem 0;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba($dark000,0);
        transition: all .6s;

        &:hover {
            background-color: $whitefff;
            transition: all .6s;
            
            .art-menu-item {
                color: $dark000;
                transition: all .6s;
            }
        }

        .line {
            height: 1px;
            width: 45px;
            transition: all .5s;
            background-color: $dark111;
            transform: translate(0%, 0%) rotate(0);
            
        }
        .text {
            text-transform: uppercase;
            font-size: 13px;
            padding: 4px 0;
            letter-spacing: 1px;
            animation: moveTextToRight .3s linear forwards;
                       
        }

        .close-menu {
            padding-right: 80px;
            transition: all .4s;
            animation: moveTextToLeft 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        }

        // rotation
        .rotate-left {
            position: absolute;
            top: 22px;
            left: 75%;
            transform: translate(-50%, 50%) rotate(-135deg) scale(1);
            animation: drawLine .5s forwards;
        }
        .rotate-right {
            position: absolute;
            top: 22px;
            left: 75%;
            transform: translate(-50%, 50%) rotate(135deg) scale(1);
            animation: drawLine .5s forwards;
        }

        @keyframes drawLine {
            0% {
                width: 0px;
                height: 1px;
                // transform: translate(-50%, 50%) scale(0);
            }
            100% {
                width: 45px;
                background-color: $dark111;
                height: 1px;
                // transform: translate(-50%, 50%) scale(1);
            }
        }

        .hidden {
            visibility: hidden;
            // position: absolute;
            // left: 30px;
            animation: moveTextToRight .3s linear forwards;
        }

        
        @keyframes moveTextToRight {
            0% {
                visibility: hidden;
                transform: translate(-250%, 0%) scale(0);
            }
            100% {
                visibility: visible;
                transform: translate(0%, 0%) scale(1);
            }
        }
        @keyframes moveTextToLeft {
            0% {
                visibility: hidden;
                transform: translate(100%, 0%) scale(0);
            }
            30% {
                transform: translate(120%, 0%) scale(.8);
            }
            100% {
                visibility: visible;
                transform: translate(0%, 0%) scale(1);
            }
        }
        .none-hidden {
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 20px;
            color: $main-accent-color;
            transition: all .1s;
        }
    }

    .style-light {
        background-color: transparent;

        .line {
            background-color: $main-accent-color;
        }
        .text {
            color: $whitefff;
        }
        .art-menu-item {
            color: $main-accent-color;
            font-weight: bold;
            box-sizing: content-box;
            padding: 0 17.5px;
            background-color: $main-accent-color;
            background-color: transparent;
            transition: all .6s;
        }
    }

    .style-dark {
        .line {
    
            background-color: $dark111;

        }
        .text {
            // color: $dark111;
            color: $dark111;
            font-weight: bold;
            padding-left: 10px;
        }
    }
}