@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';

.gallery_container {
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 0;
    background-color: $dark000;
    color: $whitefff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &::after {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background-image: url('../../assets/textures/otis-redding.png');
        opacity: .5;
        pointer-events: none;
        // filter: blur(2px);
    }

    .gallery_img {
        position: relative;
        z-index: 0;
        height: auto;
        width: 100%;
        opacity: .9;

        @media only screen and (orientation: portrait) {
            height: 100vh;
            width: auto;
            object-position: 40%;
        }
    }

    .img-animation {
        animation: fadeIn 1s linear forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .gallery_show-more {
        font-size: 10rem;
        text-align: center;
        padding: 5rem;
        cursor: pointer;
        @include no-tap();
        white-space: pre-line;

        @media only screen and (max-width: $lg) {
            font-size: 6rem;
        }
        @media only screen and (max-width: $sm) {
            font-size: 4rem;
        }

        &:hover {
            color: $main-accent-color;
        }
    }
}