@import './../../../styles/variables.scss';
@import './../../../styles/breakpoints.scss';

.art-scrollbar {
    position: absolute;
    bottom: 4.2rem;
    height: 4.2rem;
    width: 100vw;
    background-color: $dark000;

    .art-scrollbar_thumb {
        cursor: pointer;
        position: absolute;
        left: 0;
        height: 100%;
        // width: 300px;
        background-color: $main-accent-color;
        transition: all .5s;
    }
}